@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --primary: 247, 245, 235;
  --accent: 167, 114, 125;
  --accent-2: 214 175 175;
  --text: 34, 40, 49;
}

.dark {
  --primary: 49, 54, 63;
  --accent: 167, 114, 125;
  --accent-2: 234 199 199;
  --text: 238, 238, 238;
}


body {
  color: var(--text);
  background: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
}
