@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --primary: 247, 245, 235;
  --secondary: 238, 238, 238;
  --accent: 167, 114, 125;
  --accent-2: 214 175 175;
  --accent-blue: 118, 171, 174;
  --text: 34, 40, 49;
  --border: 193, 196, 187
}

.dark {
  --primary: 49, 54, 63;
  --secondary: 34, 40, 49;
  --accent: 167, 114, 125;
  --accent-2: 234 199 199;
  --accent-blue: 118, 171, 174;
  --text: 238, 238, 238;
  --border: 26, 26, 25;
}




.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}